html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #044343;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar {
  background: #222222;
}

.navbar-brand {
  color: #e4e4e4;
}

.note-textarea, .note-title {
  color: #e4e4e4;
  width: 80%;
  outline: none;
  border: none;
  margin-left: 10%;
  background: #044343;
  padding: 20px;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 2.1rem;
}

.note-title:read-only, .note-textarea:read-only {
  color: #e4e4e4;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #045757;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-color: #044343;
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

.list-group-item {
  color: #e4e4e4;
  background: #045757;
}

::placeholder {
  color: #e4e4e4;
  background: #045757;
  height: 100px;
  padding-left: 1%;
  padding-top: 1%;
}